<ion-content id="audio-detail" class="padding has-footer">
  <div class="news-header">
    <h1>{{detail.title}}</h1>
    <p>
      <span>{{detail.publishTime| date:'yyyy-MM-dd hh:mm'}}</span>
      <span>{{detail.source}}</span>
    </p>
  </div>
  <div ng-bind-html="detail.content">
  </div>
  <ng-include src="'templates/partial-comments.html'" ></ng-include>
</ion-content>
<ion-footer-bar class="bar-subfooter">
  <ng-include ng-if="detail.srcUrl" src="'templates/partial-'+ template + '.html'"></ng-include>
</ion-footer-bar>
