<ion-view id="news-detail" hide-tabs="true" view-title="{{newsDetail.title}}">
  <ion-content class="padding">
    <div class="news-header">
      <h1>{{newsDetail.title}}</h1>
      <p>
        <span>{{newsDetail.publishTime| date:'yyyy-MM-dd hh:mm'}}</span>
        <span>{{newsDetail.source}}</span>
        <span>{{newsDetail.author}}</span>      
      </p>
    </div>
    <div ng-bind-html="newsDetail.content">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
      <button class="button button-clear button-assertive icon ion-ios-arrow-left" ng-click="goBack()">
      </button>
      <button id="btn-say" class="button icon-left ion-compose">说点什么</button>
      <button id="btn-favor" class="button button-clear button-stable icon ion-ios-star-outline"
        ng-click="addToFavorite()">
      </button>
      <button id="btn-share" class="button button-clear button-stable icon ion-share"
        ng-click="showShareActionSheet()">
      </button>
  </ion-footer-bar>
</ion-view>
