<ion-content id="paper-list" class="paper" ng-controller="PaperCtrl">
  <ion-list>
    <ion-item ng-repeat="page in pages" class="page">
      <img ng-src="{{page.layoutImageUrl}}">
      <a ng-repeat="article in page.ArticleList" ng-href="#/tab/home/{{article.id}}" title="{{article.title}}" style="top:{{article.layoutPosition.top}}px; left:{{article.layoutPosition.left}}px; width:{{article.layoutPosition.width}}px; height:{{article.layoutPosition.height}}px;">
    </ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()" distance="5%">
  </ion-infinite-scroll>
</ion-content>
