<ion-view id="tab-news" view-title="潞安新闻中心">
  <ion-header-bar class="bar-light sub-header">
    <div class="row header-row">
      <ion-scroll delegate-handle="tabs-scroll" zooming="false" class="tabs-container" direction="x" scrollbar-y="false" scrollbar-x="false">
        <ul class="slide-tabs">
          <li ng-class="slideIndex == $index ? 'current':''" ng-repeat="category in categories">
            <a href="#" ng-click="activeSlide($index)">{{category.label}}</a>
          </li>
        </ul>
      </ion-scroll>
      <button class="button button-clear button-stable icon ion-ios-plus-empty" ng-click="addCategory()">
      </button>
    </div>
  </ion-header-bar>
  <ion-slide-box delegate-handle="outer-slider" id="outer-slider" show-pager="false" on-slide-changed="outerSlideChanged(index)" active-slide="slideIndex">
    <ion-slide>
      <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-slide-box delegate-handle="inner-slider" id="inner-slider" ng-mouseenter="enableOuterSlider(false)" ng-mouseleave="enableOuterSlider(true)" does-continue="true" auto-play="false">
          <ion-slide ng-repeat="slide in slides">
            <div class="box blue">
              <a ng-href="#/tab/news/{{slide.id}}"><img ng-src="{{slide.large_image}}"></a>
              <p class="title">{{slide.title}}</p>
            </div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="news-list">
          <ion-item class="item item-thumbnail-left" ng-repeat="news in newsList" type="item-text-wrap" href="#/tab/news/{{news.id}}">
            <img ng-src="{{news.thumbnail}}">
            <h2>{{news.title}}</h2>
            <p>{{news.category}}</p>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <h2>2</h2>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
