<ion-tabs class="tabs-icon-top tabs-color-active-assertive" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Home Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Service Tab -->
  <ion-tab title="服务" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/service">
    <ion-nav-view name="tab-service"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
