<ion-content id="video-list" class="article-list">
  <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh($index)">
  </ion-refresher>
  <ion-list>
    <ion-item class="item item-thumbnail-left" ng-repeat="item in category.vm.items" type="item-text-wrap" href="#/tab/detail/{{item.id}}">
      <img ng-src="{{item.thumbnail}}">
      <h2 class="title">{{item.title}}</h2>
      <p class="time">{{item.publishTime | date: 'hh:mm:ss'}}</p>
      <p class="comments"><i class="icon ion-ios-chatboxes-outline"></i>{{item.commentsCount}}</p>
    </ion-item>
  </ion-list>
  <ng-include src="'templates/partial-infinite.html'"></ng-include>
</ion-content>
